################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NlogDashboard/obj
/NlogDashboard/bin/Debug/netstandard2.0
/NetCoreEmptyTest/obj
/NetCoreEmptyTest/bin/Debug/netcoreapp2.0
/.vs/NlogDashboard/v15
/.vs/NlogDashboard/DesignTimeBuild
