################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/NlogDashboard/obj
/NlogDashboard/bin/
/NetCoreEmptyTest/obj
/NetCoreEmptyTest/bin
/.vs/NlogDashboard/v15
/.vs/NlogDashboard/DesignTimeBuild
/test/NetCoreEmptyTest/obj
/src/NlogDashboard/obj
/RazorPageGeneratorTools/obj
/ClassLibrary1/obj
