</div>
</div>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.3/esm/popper.min.js"></script>
<script src="https://cdn.bootcss.com/Chart.js/2.7.2/Chart.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/nlogdashboard/js.carbon.js"></script>
<script src="/nlogdashboard/js.dashboard.js"></script>
</body>
</html>
