<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日志面板</title>
    <link href="https://cdn.bootcss.com/simple-line-icons/2.4.1/css/simple-line-icons.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/nlogdashboard/css.styles.css">
</head>

<body class="sidebar-fixed header-fixed">
    <div class="page-wrapper">
        <nav class="navbar page-header">
            <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
                <i class="fa fa-bars"></i>
            </a>
            <a class="navbar-brand" href="#">
                <h2>Log Dashboard</h2>
            </a>
            <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
                <i class="fa fa-bars"></i>
            </a>
            <ul class="navbar-nav ml-auto">
                
            </ul>
        </nav>
        <div class="main-container">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    <ul class="nav">
                        <li class="nav-title">Navigation</li>
                        <li class="nav-item">
                            <a href="/" class="nav-link active">
                                <i class="icon icon-speedometer"></i> Dashboard
                            </a>
                        </li>
                        <li class="nav-item nav-dropdown">
                            <a href="#" class="nav-link nav-dropdown-toggle">
                                <i class="icon icon-target"></i> 日志<i class="fa fa-caret-left"></i>
                            </a>
                            <ul class="nav-dropdown-items">
                                <li class="nav-item">
                                    <a href="layouts-normal.html" class="nav-link">
                                        <i class="icon icon-target"></i> 基本日志
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="layouts-fixed-sidebar.html" class="nav-link">
                                        <i class="icon icon-target"></i> 错误日志
                                    </a>
                                </li>
                            </ul>
                        </li>
                       
                    </ul>
                </nav>
            </div>
           
