@inherits RazorLight.TemplatePage<IEnumerable<dynamic>>
@{
    Layout = "Views._layout.cshtml";
}
<div class="container-fluid">
    <div class="mb-4 open">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">概览</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel">
                <div class="table-responsive">
                    <table class="table table-bordered">

                        <tbody>
                            <tr>
                                <td>时间</td>
                                <td class="text-nowrap">Samsung Galaxy S8</td>
                            </tr>
                            <tr>
                                <td>项目</td>
                                <td class="text-nowrap">Google Pixel XL</td>
                            </tr>
                            <tr>
                                <td>日志类型</td>
                                <td class="text-nowrap">iPhone X</td>
                            </tr>
                            <tr>
                                <td>Logger</td>
                                <td class="text-nowrap">OnePlus 5T</td>
                            </tr>
                            <tr>
                                <td>消息</td>
                                <td class="text-nowrap">Google Nexus 6</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane" id="profile" role="tabpanel">
                2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="tab-pane" id="messages" role="tabpanel">
                3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </div>
</div>